In [4]:
import requests
import gzip
import pandas as pd
from io import StringIO

url = 'https://comtradeapi.un.org/bulk/v1/file/52/863302c6d3c6da81ce650ac543479a1743a4f1b57a98187e630a3bafbfcf7fb5'
headers = {'Ocp-Apim-Subscription-Key': '78f8526e63744385beacee6f0d3f2ac5'}

response = requests.get(url, headers=headers)

# Decode the content using gzip
content = gzip.decompress(response.content)

# Decode the content using the appropriate encoding
content = content.decode('utf-8')
df = pd.read_csv(StringIO(content), sep='\t')

C:\Users\m1321\AppData\Local\Temp\ipykernel_17688\3721499790.py:16: DtypeWarning: Columns (14) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(StringIO(content), sep='\t')

In [15]:
pd.options.display.max_columns = 100
pd.options.display.max_rows = 300

In [19]:
pd.set_option('display.max_rows', 1000)

In [20]:
df

,datasetCode,typeCode,freqCode,refPeriodId,refYear,refMonth,period,reporterCode,flowCode,partnerCode,partner2Code,classificationSearchCode,classificationCode,isOriginalClassification,cmdCode,customsCode,mosCode,motCode,qtyUnitCode,qty,isQtyEstimated,altQtyUnitCode,altQty,isAltQtyEstimated,netWgt,isNetWgtEstimated,grossWgt,isGrossWgtEstimated,CIFValue,FOBValue,primaryValue,legacyEstimationFlag,isReported,isAggregate
0,20052202101182100,C,A,20210101,2021,52,2021,52,DX,699,0,HS,H5,1,TOTAL,C00,0,0,-1,0.0,0,-1,0.0,0,0.0,1,0.0,0,NaN,188651.0,188651.0,4,0,1
1,20052202101182100,C,A,20210101,2021,52,2021,52,DX,784,0,HS,H5,1,TOTAL,C00,0,0,-1,0.0,0,-1,0.0,0,0.0,1,0.0,0,NaN,1088110.5,1088110.5,4,0,1
2,20052202101182100,C,A,20210101,2021,52,2021,52,DX,380,0,HS,H5,1,TOTAL,C00,0,0,-1,0.0,0,-1,0.0,0,0.0,1,0.0,0,NaN,416988.5,416988.5,4,0,1
3,20052202101182100,C,A,20210101,2021,52,2021,52,DX,192,0,HS,H5,1,TOTAL,C00,0,0,-1,0.0,0,-1,0.0,0,0.0,0,0.0,0,NaN,4500.0,4500.0,0,0,1
4,20052202101182100,C,A,20210101,2021,52,2021,52,DX,60,0,HS,H5,1,TOTAL,C00,0,0,-1,0.0,0,-1,0.0,0,0.0,1,0.0,0,NaN,235219.0,235219.0,4,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70832,20052202101182100,C,A,20210101,2021,52,2021,52,X,757,0,HS,H5,1,999999,C00,0,0,-1,0.0,0,-1,0.0,0,0.0,0,0.0,0,NaN,1925.0,1925.0,0,1,0
70833,20052202101182100,C,A,20210101,2021,52,2021,52,X,842,0,HS,H5,1,999999,C00,0,0,-1,0.0,0,-1,0.0,0,0.0,0,0.0,0,NaN,418589.5,418589.5,0,1,0
70834,20052202101182100,C,A,20210101,2021,52,2021,52,X,124,0,HS,H5,1,999999,C00,0,0,-1,0.0,0,-1,0.0,0,0.0,0,0.0,0,NaN,433131.0,433131.0,0,1,0
70835,20052202101182100,C,A,20210101,2021,52,2021,52,M,699,0,HS,H5,1,999999,C00,0,0,-1,0.0,0,-1,0.0,0,0.0,0,0.0,0,5598.0,NaN,5598.0,0,1,0
70836,20052202101182100,C,A,20210101,2021,52,2021,52,M,764,0,HS,H5,1,999999,C00,0,0,-1,0.0,0,-1,0.0,0,0.0,0,0.0,0,3225.0,NaN,3225.0,0,1,0